table.toolTable {
  margin: 20px;
  padding-left: 5px;
  padding-right: 5px;
  width: 500px;
  border: 1px solid black;
  border-radius: 3px;
  /* filter: drop-shadow(1px 1px 8px black); */
  background: lightgoldenrodyellow;
}
table.toolTable tbody {
  margin-left: 10px;
}
.toolHeader, .toolContent, .toolFooter {
  margin-left: 3px;
}
.toolHeader {
}
.toolContent {
  max-height: 500px;
  overflow: scroll;
  column-span: 2;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.toolFooter {
}
