.toolTable {
  margin: 20px;
  width: 500px;
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 3px;
  /* filter: drop-shadow(1px 1px 8px black); */
  background: lightgoldenrodyellow;
}
.toolTable th, .toolTable td {
  border: 1px solid black;
  padding: 5px;
}
.toolHeader, .toolContent, .toolFooter {

}
.toolTable th{
  column-span: all;
  /* text-align: left; */
}
.toolContent {
  max-height: 500px;
  overflow: scroll;
  /* column-span: all; */
  padding: 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.toolContent td {
  /* column-span: all; */
}
.toolFooter td {
  text-align: center;
}
table, th, td {
}
.toolTable p {
  margin: 0px;
}
