.tool {
  margin: 20px;
  max-width: 500px;
  overflow: scroll;
  border: 1px solid black;
  border-radius: 5px;
  background: lightgoldenrodyellow;
  /* filter: drop-shadow(1px 1px 8px black); */
}
.toolHeader {
  text-align: center;
  padding: 5px;
}
.toolContent {
  max-height: 500px;
  overflow: scroll;
  padding: 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.toolFooter {
  padding: 5px;
  text-align: center;
  display: flex;
  flex-direction: row;
}
.toolTable p {
  margin: 0px;
}
