.toolTable {
  margin: 20px;
  max-width: 500px;
  height: 500px;
  overflow: scroll;
  border: 1px solid black;
  border-radius: 5px;
  border-collapse: collapse;
  /* filter: drop-shadow(1px 1px 8px black); */
  background: lightgoldenrodyellow;
}
.toolTable th, .toolTable td {
  border: 1px solid black;
  padding: 5px;
}

.toolTable th {
  column-span: all;
  /* text-align: left; */
}

.toolContent {
  height: 500px !important;
}

.toolContent td {
  max-height: 500px !important;
  overflow: scroll;
  /* column-span: all; */
  padding: 10px;
}

.toolFooter td {
  text-align: center;
}
table, th, td {
}
.toolTable p {
  margin: 0px;
}
