table.toolTable {
  margin: 20px;
  width: 500px;
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 3px;
  /* filter: drop-shadow(1px 1px 8px black); */
  background: lightgoldenrodyellow;
}
table.toolTable tbody {
  margin-left: 10px;
}
table.toolTable th, table.toolTable td {
  border: 1px solid black;
  padding: 5px;
}
.toolHeader, .toolContent, .toolFooter {

}
tr.toolHeader {
  column-span: all;
  text-align: left;
}
tr.toolConten {
  max-height: 500px;
  overflow: scroll;
  column-span: all;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.toolFooter td {
  text-align: center;
}
table, th, td {
}
table.toolTable p {
  margin: 0px;
}
